<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.agentflow.finance.mapper.AccountMappingRepositoryMapper">
    <select id="head" resultType="io.agentflow.mybatis.SqlRow">
        SELECT e.category_revision,s.active_revision,s.active_mapping_id,s.active_mapping_version
        FROM expense_configuration e LEFT JOIN account_mapping_scope s
        ON s.tenant_id=e.tenant_id AND s.legal_entity_id=#{entity} AND s.currency=#{currency} WHERE e.tenant_id=#{tenant}
    </select>

    <insert id="initializeScope">
        INSERT INTO account_mapping_scope (tenant_id,legal_entity_id,currency)
        SELECT #{tenant},#{entity},#{currency} WHERE NOT EXISTS (SELECT 1 FROM account_mapping_scope WHERE tenant_id=#{tenantId} AND legal_entity_id=#{legalEntityId} AND currency=#{expectedCurrency})
    </insert>

    <select id="draft" resultType="io.agentflow.mybatis.SqlRow">
        SELECT * FROM account_mapping_draft WHERE tenant_id=#{tenant} AND mapping_key=#{key}
    </select>

    <insert id="saveDraft">
        INSERT INTO account_mapping_draft (tenant_id,mapping_key,id,legal_entity_id,currency,name,revision,published_version,published_draft_revision,state_json,updated_by,updated_at)
        VALUES (#{tenantId},#{mappingKey},#{id},#{legalEntityId},#{currency},#{name},#{revision},#{publishedVersion},#{publishedDraftRevision},#{stateJson},#{updatedBy},#{updatedAt})
    </insert>

    <update id="saveDraft2">
        UPDATE account_mapping_draft SET name=#{name},revision=#{revision},state_json=#{stateJson},updated_by=#{userId},updated_at=#{updatedAt}
        WHERE tenant_id=#{tenantId} AND mapping_key=#{key} AND revision=#{expectedRevision} AND published_version=#{publishedVersion}
    </update>

    <insert id="saveDraft3">
        INSERT INTO account_mapping_draft_revision (tenant_id,mapping_id,revision,legal_entity_id,currency,name,definition_json,updated_by,updated_at,comment)
        VALUES (#{tenantId},#{mappingId},#{revision},#{legalEntityId},#{currency},#{name},#{definitionJson},#{updatedBy},#{updatedAt},#{comment})
    </insert>

    <update id="publish">
        UPDATE account_mapping_draft SET published_version=#{version},published_draft_revision=#{revision},state_json=#{stateJson}
        WHERE tenant_id=#{tenantId} AND mapping_key=#{key} AND revision=#{expectedRevision} AND published_version=#{publishedVersion}
    </update>

    <insert id="publish2">
        INSERT INTO account_mapping_version (tenant_id,mapping_id,version,draft_revision,category_revision,legal_entity_id,currency,name,target_digest,definition_digest,state_json,published_by,published_at,comment)
        VALUES (#{tenantId},#{mappingId},#{version},#{draftRevision},#{categoryRevision},#{legalEntityId},#{currency},#{name},#{targetDigest},#{definitionDigest},#{stateJson},#{publishedBy},#{publishedAt},#{comment})
    </insert>

    <insert id="publish3">
        INSERT INTO account_mapping_activation (tenant_id,legal_entity_id,currency,revision,mapping_id,mapping_version,activated_by,activated_at,comment)
        VALUES (#{tenantId},#{legalEntityId},#{currency},#{revision},#{mappingId},#{mappingVersion},#{activatedBy},#{activatedAt},#{comment})
    </insert>

    <update id="publish4">
        UPDATE account_mapping_scope SET active_revision=#{activeRevision},active_mapping_id=#{mappingId},active_mapping_version=#{version}
        WHERE tenant_id=#{tenantId} AND legal_entity_id=#{legalEntityId} AND currency=#{currency} AND active_revision=#{expectedActiveRevision}
    </update>

    <select id="version" resultType="io.agentflow.mybatis.SqlRow">
        SELECT * FROM account_mapping_version WHERE tenant_id=#{tenant} AND mapping_id=#{id} AND version=#{version}
    </select>

    <select id="versions" resultType="io.agentflow.mybatis.SqlRow">
        SELECT version,draft_revision,category_revision,name,target_digest,published_by,published_at,comment
        FROM account_mapping_version WHERE tenant_id=#{tenant} AND mapping_id=#{id} AND version&lt;#{before} ORDER BY version DESC LIMIT #{limit}
    </select>

    <select id="draftRevision" resultType="io.agentflow.mybatis.SqlRow">
        SELECT * FROM account_mapping_draft_revision WHERE tenant_id=#{tenant} AND mapping_id=#{id} AND revision=#{revision}
    </select>

    <select id="activations" resultType="io.agentflow.mybatis.SqlRow">
        SELECT a.*,d.mapping_key FROM account_mapping_activation a JOIN account_mapping_draft d
        ON d.tenant_id=a.tenant_id AND d.id=a.mapping_id
        WHERE a.tenant_id=#{tenant} AND a.legal_entity_id=#{entity} AND a.currency=#{currency} AND a.revision&lt;#{before} ORDER BY a.revision DESC LIMIT #{limit}
    </select>
    <select id="listQuery" resultType="io.agentflow.mybatis.SqlRow">
        <bind name="position" value="0"/>
        SELECT id,mapping_key,name,legal_entity_id,currency,revision,published_version,published_draft_revision,updated_by,updated_at
        FROM account_mapping_draft WHERE tenant_id=<bind name="argument1" value="parameters[position]"/><bind name="position" value="position+1"/>#{argument1} AND mapping_key&gt;<bind name="argument2" value="parameters[position]"/><bind name="position" value="position+1"/>#{argument2}
        <choose><when test="condition0"></when><otherwise> AND legal_entity_id=<bind name="argument3" value="parameters[position]"/><bind name="position" value="position+1"/>#{argument3}</otherwise></choose><choose><when test="condition1"></when><otherwise> AND currency=<bind name="argument4" value="parameters[position]"/><bind name="position" value="position+1"/>#{argument4}</otherwise></choose> ORDER BY mapping_key LIMIT <bind name="argument5" value="parameters[position]"/><bind name="position" value="position+1"/>#{argument5}
    </select>
</mapper>
