<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.agentflow.expense.mapper.AdvanceReceiptCreditRepositoryMapper">
    <insert id="insert">
        INSERT INTO advance_receipt_credit(tenant_id,legal_entity_id,advance_id,channel,transaction_reference,voucher_reference,entry_reference,amount,currency,repayment_id,disbursement_resolution_id)
        VALUES(#{tenantId},#{legalEntityId},#{advanceId},#{channel},#{transactionReference},#{voucherReference},#{entryReference},#{amount},#{currency},#{repaymentId},#{disbursementResolutionId})
    </insert>
</mapper>
